*{
    background-color: rgb(91, 98, 97);
}


h1{
    color: white;
   
}

h2{
    color: white;

}
 

h3{
    color:white
}



img {
    height:200px; 
    border-color: white;
    border: 5px solid white;
    border-radius: 12px;
}


h4{
    color: white;
}

p{
    color:white
}

.link-color {
    background-color: #000000; 
    border: none;           
    color: white;            
    padding: 12px 36px;    
    text-align: center;    
    text-decoration: none;   
    display: inline-block;
    font-size: 16px;         
    margin: 4px 2px;         
    cursor: pointer;         
    border-radius: 12px;     
}

.about {
    background-color: #000000; /* Green background */
  border: none;            /* No border */
  color: white;            /* White text */
  padding: 12px 24px;      /* Padding */
  text-align: center;      /* Centered text */
  text-decoration: none;   /* No underline */
  display: inline-block;   /* Inline-block element */
  font-size: 16px;         /* Font size */
  margin: 4px 2px;         /* Some margin */
  cursor: pointer;         /* Pointer/hand icon */
  border-radius: 12px;     /* Rounded corners */
}


.contact {
  background-color: #000000; /* Green background */
border: none;            /* No border */
color: white;            /* White text */
padding: 12px 24px;      /* Padding */
text-align: center;      /* Centered text */
text-decoration: none;   /* No underline */
display: inline-block;   /* Inline-block element */
font-size: 16px;         /* Font size */
margin: 4px 2px;         /* Some margin */
cursor: pointer;         /* Pointer/hand icon */
border-radius: 12px;     /* Rounded corners */
}